<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2017 Google Inc.
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License. -->

<!-- MSI Definition for AGI consumed by the WiX Toolset -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Android GPU Inspector $(var.AGIVersion)" Manufacturer="Google, Inc"
      Id="*"
      UpgradeCode="7187CA6A-4A6D-4187-B6B2-1E100176A91D"
      Language="1033" Codepage="1252" Version="$(var.AGIVersion)">

    <Package Id="*" Keywords="Installer" Description="AGI Installer"
        Comments="Installs Android GPU Inspector" Manufacturer="Google, Inc"
        InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

    <!-- Upgrade logic. Automatically uninstalls any existing older / newer version. -->
    <Upgrade Id='7187CA6A-4A6D-4187-B6B2-1E100176A91D'>
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
          Minimum='0.0.0' IncludeMinimum='no' />
    </Upgrade>
    <InstallExecuteSequence>
      <LaunchConditions After='AppSearch' />
      <RemoveExistingProducts After='InstallValidate' />
    </InstallExecuteSequence>

    <MediaTemplate EmbedCab="yes" MaximumUncompressedMediaSize="1024" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="AGI" Name="agi" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Android GPU Inspector" />
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Android GPU Inspector" Description="Android GPU Inspector"
            Target="[!agi.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY" Icon="agi.ico" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Google\AGI" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Icon Id="agi.ico" SourceFile="agi.ico" />

    <DirectoryRef Id="AGI">
      <Component Id="FileAssociation" Guid="*">
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace" Value="Graphics API Trace" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace" Name="AppUserModelId" Value="AGI" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace\Application" Name="AppUserModelId" Value="AGI" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace\Application" Name="ApplicationIcon" Value="[!agi.ico]" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace\Application" Name="ApplicationName" Value="Graphics API Debugger" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace\Application" Name="ApplicationDescription" Value="Inspect Graphics Traces" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace\Application" Name="ApplicationCompany" Value="Google, Inc" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace\DefaultIcon" Value="[!agi.ico]" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\AGI.Trace\shell\open\command" Value="&quot;[!agi.exe]&quot; &quot;%1&quot;" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\agi.exe" Value="[!agi.exe]" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\agi.exe" Name="Path" Value="[AGI]" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\Applications\agi.exe\SupportedTypes" Name=".gfxtrace" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Applications\agi.exe\shell\open\command" Value="&quot;[!agi.exe]&quot; &quot;%1&quot;" Type="string" />

        <RegistryValue Root="HKLM" Key="Software\Classes\.gfxtrace" Value="AGI.Trace" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\SystemFileAssociations\.gfxtrace\shell\edit\command" Value="&quot;[!agi.exe]&quot; &quot;%1&quot;" Type="string" />
      </Component>
    </DirectoryRef>

    <Feature Id="AGI"  Title="Android GPU Inspector" Level="1">
      <ComponentGroupRef Id="agi" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="FileAssociation" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="AGI" />
    <Property Id="ARPPRODUCTICON" Value="agi.ico" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="ui_dialog.bmp" />

    <!-- From WixUI_InstallDir.wxs - without a license dialog -->
    <UI Id="agi">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>
