[submodule "third_party/cityhash"]
	path = third_party/cityhash
	url = https://github.com/google/cityhash.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/grpc-java"]
	path = third_party/grpc-java
	url = https://github.com/grpc/grpc-java.git
[submodule "third_party/llvm"]
	path = third_party/llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/google/protobuf.git
[submodule "third_party/src/github.com/fsnotify/fsnotify"]
	path = third_party/src/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify.git
[submodule "third_party/src/github.com/golang/protobuf"]
	path = third_party/src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "third_party/src/github.com/gopherjs/gopherjs"]
	path = third_party/src/github.com/gopherjs/gopherjs
	url = https://github.com/gopherjs/gopherjs.git
[submodule "third_party/src/github.com/kardianos/osext"]
	path = third_party/src/github.com/kardianos/osext
	url = https://github.com/kardianos/osext.git
[submodule "third_party/src/github.com/neelance/sourcemap"]
	path = third_party/src/github.com/neelance/sourcemap
	url = https://github.com/neelance/sourcemap.git
[submodule "third_party/src/github.com/pkg/errors"]
	path = third_party/src/github.com/pkg/errors
	url = https://github.com/pkg/errors.git
[submodule "third_party/src/github.com/spf13/cobra"]
	path = third_party/src/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "third_party/src/github.com/spf13/pflag"]
	path = third_party/src/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
[submodule "third_party/src/golang.org/x/crypto"]
	path = third_party/src/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "third_party/src/golang.org/x/net"]
	path = third_party/src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "third_party/src/golang.org/x/sys"]
	path = third_party/src/golang.org/x/sys
	url = https://github.com/golang/sys.git
[submodule "third_party/src/golang.org/x/tools"]
	path = third_party/src/golang.org/x/tools
	url = https://github.com/golang/tools.git
[submodule "third_party/src/google.golang.org/grpc"]
	path = third_party/src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go.git
[submodule "third_party/src/github.com/inconshreveable/mousetrap"]
	path = third_party/src/github.com/inconshreveable/mousetrap
	url = https://github.com/inconshreveable/mousetrap.git
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
	ignore = untracked
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc.git
[submodule "third_party/SPIRV-Headers"]
	path = third_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/SPIRV-Tools"]
	path = third_party/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
	ignore = untracked
[submodule "third_party/SPIRV-Cross"]
	path = third_party/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	ignore = untracked
[submodule "third_party/astc-encoder"]
	path = third_party/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "third_party/src/github.com/google/go-github"]
	path = third_party/src/github.com/google/go-github
	url = https://github.com/google/go-github.git
[submodule "third_party/src/github.com/google/go-querystring"]
	path = third_party/src/github.com/google/go-querystring
	url = https://github.com/google/go-querystring.git
