# Directories
/.DS_Store
/.idea
/.vscode
/bazel-*
/fused
/pkg

# Single files
/.gapid-config
/user.bazelrc
/user.locals
/screenshot.png

# General patterns
*.gfxtrace
*.perfetto
*.fxt
*ycm_extra_conf.py*
gapir.log
gapis.log

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
