# Directories
/.DS_Store
/.idea
/.vscode
/bazel-*

# Single files
/.gapid-config
/.bazelrc

# General patterns
*.gfxtrace
*ycm_extra_conf.py*
*_embed.go
gapir.log
gapis.log
# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
