<footer class="site-footer">
  <a href="{{site.project-url}}/issues/new?title=Documentation%20problem&amp;body=[On%20this%20page]({{page.url | absolute_url}})...&amp;labels=docs"
     target="_blank">
     <span class="material-icons">bug_report</span>
    File a bug
  </a>
  <span class="sep">&bull;</span>
  <a href="{{site.project-url}}/edit/gh-pages/{{page.path}}"
     target="_blank">
    <span class="material-icons">mode_edit</span>
    Edit page
  </a>
  <div class="trademark-info">
    OpenGL is a registered trademark and the OpenGL ES logo is a trademark of Silicon Graphics Inc. used by permission by Khronos.<br>
    Vulkan and the Vulkan logo are registered trademarks of the Khronos Group Inc.<br>
    Android is a trademark of Google LLC.
  </div>
</footer>
