<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script type="text/javascript" src="{{site.baseurl}}/assets/tabs.js"> </script>
</head>
