<div class="sidebar">
  <a class="sidebar-title">{{site.title}}</a>
  {% assign roots = site.pages
    | where_exp:"root", "root.sidebar != null"
    | where_exp:"root", "root.parent == null"
    | sort:"url" %}
  {% for root in roots %}
    <a class="sidebar-item{% if page.url == root.url %} active{% endif %}" href="{{site.baseurl}}{{root.url}}">{{ root.sidebar }}</a>
    {% if root.group != null %}
      {% assign children = site.pages
        | where_exp:"child", "child.sidebar != null"
        | where_exp:"child", "child.parent == root.group"
        | sort:"url" %}
      {% for child in children %}
        <a class="sidebar-item child{% if page.url == child.url %} active{% endif %}" href="{{site.baseurl}}{{child.url}}"> {{ child.sidebar }}</a>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
