{{/*
 * Copyright (C) 2017 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */}}

{{/* ---- Includes ---- */}}
{{Include "go_common.tmpl"}}
{{Include "c_common.tmpl"}}

{{$filename := "api.go" }}
{{$ | Macro "Types" | Reflow 4 | Write $filename}}

{{define "Types"}}
  {{AssertType $ "API"}}
  {{template "Go.GeneratedHeader" (Global "OutputDir")}}
¶
// #include "{{Global "GeneratedPath"}}/ctypes.h"
// #include "gapil/runtime/cc/cloner/cloner.h"
// #include <stdlib.h> // C.free
import "C"

import (»
  "context"
  "fmt"
  "reflect"
  "unsafe"

  "github.com/google/gapid/core/data"
  "github.com/google/gapid/core/data/binary"
  "github.com/google/gapid/core/data/id"
  "github.com/google/gapid/core/data/slice"
  "github.com/google/gapid/core/math/u64"
  "github.com/google/gapid/core/memory/arena"
  "github.com/google/gapid/core/os/device"
  "github.com/google/gapid/gapis/replay"
  "github.com/google/gapid/gapis/replay/builder"
  "github.com/google/gapid/gapis/replay/protocol"
  "github.com/google/gapid/gapis/replay/value"
  "github.com/google/gapid/gapis/service/path"
  ϟapi "github.com/google/gapid/gapis/api"
  ϟmem "github.com/google/gapid/gapis/memory"
  ϟexec "github.com/google/gapid/gapil/executor"
«)
¶
  var ( // Don't error if these packages aren't used.
    _ = slice.New
    _ = (protocol.Opcode)(0)
  )
¶
  {{template "Go.CommentHeader" "Enums"}}
  {{ForEach $.Enums "DeclareEnum" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "StaticArrays"}}
  {{ForEach $.StaticArrays "DeclareStaticArray" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "Maps"}}
  {{ForEach $.Maps "DeclareMap" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "References"}}
  {{ForEach $.References "DeclareReference" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "Slices"}}
  {{ForEach $.Slices "DeclareSlice" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "Pointers"}}
  {{ForEach $.Pointers "DeclarePointer" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "Pseudonyms"}}
  {{ForEach $.Pseudonyms "DeclarePseudonym" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "Classes"}}
  {{ForEach $.Classes "DeclareClass" | JoinWith "\n"}}
¶
  {{template "Go.CommentHeader" "Commands"}}
  {{range $c := AllCommands $}}
    {{if not (GetAnnotation $c "pfn")}} {{/* TODO remove the @pfn nastiness */}}
      {{$idx := $.CommandIndex $c}}
      {{Template "DeclareCommand" "Command" $c "Index" $idx}}¶
    {{end}}
  {{end}}
¶
  {{template "Go.CommentHeader" "CommandBuilder"}}
  {{Template "DeclareCommandBuilder" $}}
¶
  {{template "Go.CommentHeader" "State"}}
  {{Template "DeclareState" $}}¶
¶
  {{template "Go.CommentHeader" "API"}}
  {{Template "DeclareAPI" $}}¶
¶
  // uncompareable is a dummy function used in types that must not be used for
  // go equality or as map keys.
  type uncompareable func()
¶
  // constantArena is an arena used for globally persisted immutable values.
  var constantArena = arena.New()
¶
  func init() {
    ϟapi.Register(API{})
  }
¶
  func panicOnError(err error) {
    if err != nil {
      panic(err)
    }
  }
¶
  func stringToC(a arena.Arena, s string) *C.gapil_string {
    data := C.CString(s)
    defer C.free(unsafe.Pointer(data))
    return C.gapil_make_string((*C.arena)(a.Pointer), (C.uint64_t)(len(s)), unsafe.Pointer(data))
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Enum type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareEnum"}}
  {{AssertType $ "Enum"}}

  {{$name := Macro "Go.Type" $}}

  type {{$name}} {{Template "Go.Type" $.NumberType}}

  {{if len $.Entries}}
    const(»
      {{range $entry := $.Entries}}
        {{$name}}_{{$entry.Name}} = {{$name}}({{$entry.Value}})
      {{end}}
    «)
  {{end}}

  func (e {{$name}}) String() string {
    switch e {
      {{range $e := UniqueEnumKeys $}}
        case {{$name}}_{{$e.Name}}: return "{{$e.Name}}"
      {{end}}
    }
    return fmt.Sprintf("{{$.Name}}(%d)", e)
  }

  func Decode{{$name}}(ϟd *ϟmem.Decoder) {{$name}} {
    return {{$name}}({{Template "Go.Decode" $.NumberType}})
  }

  func {{$name}}Constants() int {
    return {{ConstantSetIndex $}}
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the StaticArray type (or StaticArray pseudonym).
-------------------------------------------------------------------------------
*/}}
{{define "DeclareStaticArray"}}
  {{AssertType $ "StaticArray" "Pseudonym"}}

  {{$name := Macro "Go.TypeName" $}}
  {{$ty := $ | Underlying}}
  {{$el := Macro "Go.Type" $ty.ValueType}}

  type {{$name}} struct {
    c *{{Template "CgoType" $}}
    a arena.Arena
    uncompareable
  }

  // Nil{{$name}} is a {{$name}} with default values in all fields.
  var Nil{{$name}} = New{{$name}}(constantArena)

  func New{{$name}}(ϟa arena.Arena, els... {{$el}}) {{$name}} {
    c := {{Template "Allocate" "Arena" "ϟa" "Type" (Macro "CgoTypeNoPtr" $)}}
    out := {{$name}}{c: c, a: ϟa}
    for i := 0; i < {{$ty.Size}}; i++ {
      if i < len(els) {
        out.Set(i, els[i])
      } else {
        out.Set(i, {{Template "Go.Null" $ty.ValueType}})
      }
    }
    return out
  }

  func (a {{$name}}) Get(i int) {{$el}} {
    if i > {{$ty.Size}} {
      panic(fmt.Errorf("Index out of range (i: %v, max: %v)", i, {{$ty.Size}}))
    }
    return {{Template "CToGo" "Type" $ty.ValueType "Name" "a.c[i]" "Arena" "a.a"}}
  }

  func (a {{$name}}) Getʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, i int) {{$el}} {
    return a.Get(i) // DCE STUB
  }

  func (a {{$name}}) Set(i int, v {{$el}}) {
    if i > {{$ty.Size}} {
      panic(fmt.Errorf("Index out of range (i: %v, max: %v)", i, {{$ty.Size}}))
    }
    a.c[i] = {{Template "GoToC" "Type" $ty.ValueType "Name" "v" "Arena" "a.a"}}
  }

  func (a {{$name}}) Setʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, i int, v {{$el}}) {
    a.Set(i, v) // DCE STUB
  }

  // Equals returns true if the array is equal to o.
  func (a {{$name}}) Equals(o {{$name}}) bool {
    return *a.c == *o.c
  }

  func (a {{$name}}) Equalsʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, o {{$name}}) bool {
    return a.Equals(o) // DCE STUB
  }

  // Encode encodes this static array to the encoder.
  func (a {{$name}}) Encode(ϟe *ϟmem.Encoder) {
    for i, c := 0, {{$ty.Size}}; i < c; i++ {
      {{Template "Go.Encode" "Type" $ty.ValueType "Value" "a.Get(i)"}}
    }
  }

  // Decode decodes this static array from the decoder.
  func Decode{{$name}}(ϟd *ϟmem.Decoder, ϟa arena.Arena) {{$name}} {
    out := New{{$name}}(ϟa)
    for i, c := 0, {{$ty.Size}}; i < c; i++ {
      out.Set(i, {{Template "Go.Decode" $ty.ValueType}})
    }
    return out
  }

  {{if IsNumericType $ty.ValueType}}
    func (a {{$name}}) value(ϟb builder.Builder, ϟc ϟapi.Cmd, ϟs *ϟapi.GlobalState) value.Pointer {
      for i := 0; i < {{$ty.Size}}; i++ {
        ϟb.Push({{Template "Go.Replay.Value" "Type" $ty.ValueType "Name" "a.Get(i)"}})
      }
      return ϟb.Buffer({{$ty.Size}})
    }
  {{end}}

  // Clone makes a deep copy of this static array.
  func (a {{$name}}) Clone(ϟctx context.Context) {{$name}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    var out {{$name}}
    ϟenv.Bind(ϟctx, func() {
      ϟt := C.gapil_create_clone_tracker(((*C.arena)(ϟenv.State.Arena.Pointer)))
      defer C.gapil_destroy_clone_tracker(ϟt)
      out = a.clone(ϟenv, ϟt)
    })
    return out
  }

  func (a {{$name}}) clone(ϟenv *ϟexec.Env, ϟt unsafe.Pointer) {{$name}} {
    out := New{{$name}}(ϟenv.State.Arena)
    for i := 0; i < {{$ty.Size}}; i++ {
      out.Set(i, {{Template "Clone" "Type" $ty.ValueType "Src" "a.Get(i)"}})
    }
    return out
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Map type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareMap"}}
  {{AssertType $ "Map"}}

  {{$name    := Macro "Go.TypeName" $}}
  {{$key     := Macro "Go.Type" $.KeyType}}
  {{$val     := Macro "Go.Type" $.ValueType}}
  {{$cval    := Macro "CgoType" $.ValueType}}
  {{$cmap    := Macro "CgoType" $}}
  {{$mangled := Macro "C.Mangle" $}}

  type {{$name}} struct {
    c {{$cmap}}
  }

  func New{{$name}}(ϟa arena.Arena) {{$name}} {
    m := {{Template "Allocate" "Arena" "ϟa" "Type" (Macro "CgoTypeNoPtr" $)}}
    m.ref_count = 0x3fffffff // TEMP
    m.arena = (*C.arena)(ϟa.Pointer)
    m.count = 0
    m.capacity = 0
    m.elements = nil
    return {{$name}}{c: m}
  }

  func (m {{$name}}) String() string { return fmt.Sprint(m.All()) }

  // Arena returns the memory arena used to allocate this map.
  func (m {{$name}}) Arena() arena.Arena { return arena.Arena{unsafe.Pointer(m.c.arena) } }

  func (m {{$name}}) Get(k {{$key}}) {{$val}} {
    v, _ := m.Lookup(k)
    return v
  }

  func (m {{$name}}) Getʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, k {{$key}}) {{$val}} {
    return m.Get(k) // DCE STUB
  }

  func (m {{$name}}) Lookup(k {{$key}}) ({{$val}}, bool) {
    ϟa := m.Arena(); _ = ϟa
    ck := {{Template "GoToC" "Type" $.KeyType "Name" "k" "Arena" "ϟa"}}
    {{Template "DeferReleaseGoToC" "Object" "ck" "Type" $.KeyType}}
    ptr := (*{{$cval}})(C.{{$mangled}}__index(unsafe.Pointer(m.c), ({{Template "CgoSimplifiedType" $.KeyType}})(ck), C.GAPIL_FALSE))
    if ptr == nil {
      return {{Template "Go.Null" $.ValueType}}, false
    }
    return {{Template "CToGo" "Type" $.ValueType "Name" "(*ptr)" "Arena" "ϟa"}}, true
  }

  func (m {{$name}}) Lookupʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, k {{$key}}) ({{$val}}, bool) {
      return m.Lookup(k) // DCE STUB
  }

  func (m {{$name}}) Add(k {{$key}}, v {{$val}}) {{$name}} {
    ck := {{Template "GoToC" "Type" $.KeyType   "Name" "k" "Arena" "m.Arena()"}}
    cv := {{Template "GoToC" "Type" $.ValueType "Name" "v" "Arena" "m.Arena()"}}
    {{Template "DeferReleaseGoToC" "Object" "ck" "Type" $.KeyType}}
    *(*{{$cval}})(C.{{$mangled}}__index(unsafe.Pointer(m.c), ({{Template "CgoSimplifiedType" $.KeyType}})(ck), C.GAPIL_TRUE)) = cv
    return m
  }

  func (m {{$name}}) Addʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, k {{$key}}, v {{$val}}) {{$name}} {
    return m.Add(k, v) // DCE STUB
  }

  func (m {{$name}}) CreateHandleʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, k {{$key}}, v {{$val}}) {{$name}} {
    return m.Add(k, v) // DCE STUB
  }

  func (m {{$name}}) DestroyHandleʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, k {{$key}}) {
    m.Remove(k) // DCE STUB
  }

  func (m {{$name}}) Contains(k {{$key}}) bool {
    ck := {{Template "GoToC" "Type" $.KeyType "Name" "k" "Arena" "m.Arena()"}}
    {{Template "DeferReleaseGoToC" "Object" "ck" "Type" $.KeyType}}
    return C.{{$mangled}}__contains(unsafe.Pointer(m.c), ({{Template "CgoSimplifiedType" $.KeyType}})(ck)) != 0
  }

  func (m {{$name}}) Containsʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, k {{$key}}) bool {
    return m.Contains(k) // DCE STUB
  }

  func (m {{$name}}) Remove(k {{$key}}) {
    ck := {{Template "GoToC" "Type" $.KeyType "Name" "k" "Arena" "m.Arena()"}}
    {{Template "DeferReleaseGoToC" "Object" "ck" "Type" $.KeyType}}
    C.{{$mangled}}__remove(unsafe.Pointer(m.c), ({{Template "CgoSimplifiedType" $.KeyType}})(ck))
  }

  func (m {{$name}}) Removeʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, k {{$key}}) {
    m.Remove(k) // DCE STUB
  }

  func (m {{$name}}) Clear() {
    C.{{$mangled}}__clear(unsafe.Pointer(m.c))
  }

  func (m {{$name}}) Clearʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher) {
    m.Clear() // DCE STUB
  }

  func (m {{$name}}) Len() int {
    return int(m.c.count)
  }

  func (m {{$name}}) Lenʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher) int {
    return m.Len() // DCE STUB
  }

  func (m {{$name}}) Keys() ([]{{$key}}) {
    out := make([]{{$key}}, 0, m.c.count)
    arr := (*[1<<30]{{Template "CgoTypeNoPtr" $}}_element)(unsafe.Pointer(m.c.elements))
    for i, c := 0, int(m.c.capacity); i < c; i++ {
      if el := arr[i]; el.used == C.GAPIL_MAP_ELEMENT_FULL {
        out = append(out, {{Template "CToGo" "Type" $.KeyType "Name" "el.key" "Arena" "m.Arena()"}})
      }
    }
    slice.Sort(out)
    return out
  }

  func (m {{$name}}) Keysʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher) ([]{{$key}}) {
    return m.Keys() // DCE STUB
  }

  func (c {{$name}}) clone(ϟenv *ϟexec.Env, ϟt unsafe.Pointer) {{$name}} {
    ϟcc := (*C.gapil_context)(ϟenv.CContext())
    return {{$name}}{
      c: ({{$cmap}})(C.{{$mangled}}__clone(unsafe.Pointer(c.c), ϟcc, ϟt)),
    }
  }

  // Clone makes a deep copy of this map.
  func (c {{$name}}) Clone(ϟctx context.Context) {{$name}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    var out {{$name}}
    ϟenv.Bind(ϟctx, func() {
      ϟt := C.gapil_create_clone_tracker(((*C.arena)(ϟenv.State.Arena.Pointer)))
      defer C.gapil_destroy_clone_tracker(ϟt)
      out = c.clone(ϟenv, ϟt)
    })
    return out
  }

  func (c {{$name}}) Cloneʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher) {{$name}} {
    return c.Clone(ϟctx) // DCE STUB
  }

  // All returns this {{$name}} as a Go map.
  func (m {{$name}}) All() map[{{$key}}]{{$val}} {
    out := make(map[{{$key}}]{{$val}}, m.c.count)
    arr := (*[1<<30]{{Template "CgoTypeNoPtr" $}}_element)(unsafe.Pointer(m.c.elements))
    for i, c := 0, int(m.c.capacity); i < c; i++ {
      if el := arr[i]; el.used == C.GAPIL_MAP_ELEMENT_FULL {
        k := {{Template "CToGo" "Type" $.KeyType   "Name" "el.key"   "Arena" "m.Arena()"}}
        v := {{Template "CToGo" "Type" $.ValueType "Name" "el.value" "Arena" "m.Arena()"}}
        out[k] = v
      }
    }
    return out
  }

  func (m {{$name}}) Allʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher) map[{{$key}}]{{$val}} {
    return m.All() // DCE STUB
  }

{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Reference type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareReference"}}
  {{AssertType $ "Reference"}}

  {{$name    := Macro "Go.TypeName" $}}
  {{$mangled := Macro "C.Mangle" $}}

  type {{$name}} struct {
    c {{Template "CgoType" $}}
  }

  // Nil{{$name}} is a nil-pointer reference.
  var Nil{{$name}} = {{$name}}{}

  // Properties returns all the properties of the reference.
  func (c {{$name}}) Properties() ϟapi.Properties {
    return ϟapi.Properties{
      {{range $f := $.To.Fields}}
        {{$get := GoPublicName $f.Name}}
        {{$set := printf "Set%v" $get}}
        {{$cs  := ConstantSetIndex $f}}
        ϟapi.NewProperty("{{$f.Name}}", c.{{$get}}, c.{{$set}})§
        {{if ge $cs 0}}.SetConstants({{$cs}}){{end}},
      {{end}}
    }
  }

  // Format implements fmt.Formatter to print the reference.
  func (c {{$name}}) Format(f fmt.State, r rune) {
    fmt.Fprintf(f, "{{$name}}<%p>", c.c)
  }

  // IsNil returns true if the {{$name}} is a nil pointer.
  func (c {{$name}}) IsNil() bool { return c.c == nil }

  // SetNil nullifies this reference.
  func (c {{$name}}) SetNil() { c.c = nil }

  // Arena returns the memory arena used to allocate this reference.
  func (c {{$name}}) Arena() arena.Arena { return arena.Arena{unsafe.Pointer(c.c.arena) } }

  // Clone makes a deep copy of this reference.
  func (c {{$name}}) Clone(ϟctx context.Context) {{$name}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    var out {{$name}}
    ϟenv.Bind(ϟctx, func() {
      ϟt := C.gapil_create_clone_tracker(((*C.arena)(ϟenv.State.Arena.Pointer)))
      defer C.gapil_destroy_clone_tracker(ϟt)
      out = c.clone(ϟenv, ϟt)
    })
    return out
  }

  func (c {{$name}}) clone(ϟenv *ϟexec.Env, ϟt unsafe.Pointer) {{$name}} {
    ϟcc := (*C.gapil_context)(ϟenv.CContext())
    return {{$name}}{
      c: C.{{$mangled}}__clone(c.c, ϟcc, ϟt),
    }
  }

  {{if GetAnnotation $.To "resource"}}
    // OnCreate should be called immediately after the {{$name}} resource is created.
    func (c {{$name}}) OnCreate(ϟg *ϟapi.GlobalState) {
      if f := ϟg.OnResourceCreated; c.IsResource() && f != nil { f(c) }
    }

    // OnAccess should be called each time the {{$name}} resource is used.
    func (c {{$name}}) OnAccess(ϟg *ϟapi.GlobalState) {{$name}} {
      if f := ϟg.OnResourceAccessed; c.IsResource() && f != nil { f(c) }
      return c
    }

    // OnDestroy should be called immediately after the {{$name}} resource is destroyed.
    func (c {{$name}}) OnDestroy(ϟg *ϟapi.GlobalState) {
      if f := ϟg.OnResourceDestroyed; c.IsResource() && f != nil { f(c) }
    }
  {{end}}

  {{$to := Macro "Go.Type" $.To}}
  func (c {{$name}}) Get() {{$to}} {
    return {{$to}}{c: &c.c.val, a: arena.Arena{unsafe.Pointer(c.c.arena)}}
  }

  func (c {{$name}}) Set(v {{$to}}) {{$name}} {
    c.c.val = *v.c
    return c
  }

  {{range $f := $.To.Fields}}
    {{Template "DeclareGetterSetter" "Struct" $name "Prefix" "val" "Name" $f.Name "Type" $f.Type}}
  {{end}}

  // New{{$name}} returns a new {{$name}} reference with the given fields.
  func New{{$name}}(ϟa arena.Arena§
    {{range $f := $.To.Fields}}
      , {{$f.Name | GoPrivateName}} {{Template "Go.Type" $f}}§
    {{end}}
  ) {{$name}} {
    ϟc := {{Template "Allocate" "Arena" "ϟa" "Type" (Macro "CgoTypeNoPtr" $)}}
    ϟc.ref_count = 0x3fffffff // TEMP
    ϟc.arena = (*C.arena)(ϟa.Pointer)
    {{range $f := $.To.Fields}}
      ϟc.val.{{$f.Name | CFieldName}} = {{Template "GoToC" "Type" (TypeOf $f) "Name" ($f.Name | GoPrivateName) "Arena" "ϟa"}}
    {{end}}
    return {{$name}}{ϟc}
  }

  // Make{{$name}} returns a new {{$name}} reference with the default field values.
  func Make{{$name}}(ϟa arena.Arena) {{$name}} {
    return New{{$name}}(ϟa,
      {{range $i, $f := $.To.Fields}}
        {{if IsNil $f.Default}}
          {{Template "Go.Null" $f.Type}},
        {{else}}
          {{Template "Go.Read" $f.Default}},
        {{end}}
      {{end}}
    )
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Slice type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareSlice"}}
  {{AssertType $ "Slice"}}

  {{$s          := $ | Underlying | Unpack                 }}
  {{$slice_ty   := Macro "Go.Type"   $                     }}
  {{$ptr_ty     := Macro "Go.Type"   $s.Pointer            }}
  {{$el_ty      := Macro "Go.Type"   $s.To                 }}
  {{$el_size    := Macro "Go.SizeOf" $s.To                 }}
  {{$el_is_char := IsChar    ($s.To | Underlying | Unpack) }}
  {{$el_is_void := IsVoid    ($s.To | Underlying | Unpack) }}
  {{$el_is_ptr  := IsPointer ($s.To | Underlying | Unpack) }}
  {{$el_is_class := IsClass  ($s.To | Underlying | Unpack) }}

  {{$name := Macro "Go.TypeName" $}}

  type {{$name}} struct {
    c *C.gapil_slice
  }

  // Nil{{$slice_ty}} is a zero {{$slice_ty}}.
  var Nil{{$slice_ty}} = {{$slice_ty}}{c: &C.gapil_slice{}}

  {{if $el_is_char}}
    // Make{{$slice_ty}}FromString returns a {{$slice_ty}} backed by a new
    // memory pool containing a copy of str.
    func Make{{$slice_ty}}FromString(ϟctx context.Context, str string) {{$slice_ty}} {
      ϟenv := ϟexec.GetEnv(ϟctx)
      var p *C.gapil_pool
      ϟenv.Bind(ϟctx, func() {
        p = C.gapil_make_pool((*C.gapil_context)(ϟenv.CContext()), C.uint64_t(len(str)))
      })
      pool := ϟenv.State.Memory.MustGet(ϟmem.PoolID(p.id))
      pool.Write(0, ϟmem.Blob([]byte(str)))
      return {{$slice_ty}}{
        c: &C.gapil_slice{
          pool:  p,
          size:  C.uint64_t(len(str)),
          count: C.uint64_t(len(str)),
        },
      }
    }
  {{end}}

  // Equals returns true if the slice s is equal to o.
  func (s {{$slice_ty}}) Equals(o {{$name}}) bool {
    return *s.c == *o.c
  }

  // Assign sets all fields of this slice from different slice. Needed for cloning.
  func (s *{{$slice_ty}}) Assign(v interface{}) bool {
    if v, ok := v.({{$slice_ty}}); ok {
      *s.c = *v.c // TODO: Pool refcounting
      return true
    }
    return false
  }

  // New{{$slice_ty}} returns a {{$slice_ty}} with the given arguments.
  func New{{$slice_ty}}(ϟctx context.Context, root, base, size, count uint64, poolID ϟmem.PoolID) {{$slice_ty}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    return {{$slice_ty}}{
      c: &C.gapil_slice{
        pool:  (*C.gapil_pool)(ϟenv.GetOrMakePool(poolID)),
        root:  C.uint64_t(root),
        base:  C.uint64_t(base),
        size:  C.uint64_t(size),
        count: C.uint64_t(count),
      },
    }
  }

  // Make{{$slice_ty}} returns a {{$slice_ty}} backed by a new memory pool.
  func Make{{$slice_ty}}(ϟctx context.Context, count uint64) {{$slice_ty}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    ϟl := ϟenv.State.MemoryLayout; _ = ϟl
    size := C.uint64_t(count * {{Template "Go.SizeOf" $s.To}})
    var p *C.gapil_pool
    ϟenv.Bind(ϟctx, func() {
      p = C.gapil_make_pool((*C.gapil_context)(ϟenv.CContext()), C.uint64_t(size))
    })
    return {{$slice_ty}}{
      c: &C.gapil_slice{
        pool:  p,
        size:  size,
        count: C.uint64_t(count),
      },
    }
  }

  // Clone returns a copy of the {{$slice_ty}} in a new memory pool.
  func (s {{$slice_ty}}) Clone(ϟctx context.Context, ϟc ϟapi.Cmd, ϟb builder.Builder) {{$slice_ty}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    s.OnRead(ϟctx, ϟc, ϟenv.State, ϟb)
    var p *C.gapil_pool
    ϟenv.Bind(ϟctx, func() {
      p = C.gapil_make_pool((*C.gapil_context)(ϟenv.CContext()), C.uint64_t(s.Size()))
    })
    dst := ϟenv.State.Memory.MustGet(ϟmem.PoolID(p.id))
    dst.Write(0, ϟenv.State.Memory.MustGet(s.Pool()).Slice(s.Range()))
    return {{$slice_ty}}{
      c: &C.gapil_slice{
        pool:  p,
        size:  C.uint64_t(s.Size()),
        count: C.uint64_t(s.Count()),
      },
    }
  }

  // Root returns the original pointer this slice derives from.
  func (s {{$slice_ty}}) Root() uint64 { return uint64(s.c.root) }

  // Base returns the address of first element.
  func (s {{$slice_ty}}) Base() uint64 { return uint64(s.c.base) }

  // Count returns the number of elements in the slice.
  func (s {{$slice_ty}}) Count() uint64 { return uint64(s.c.count) }

  // Size returns the size of the slice in bytes.
  func (s {{$slice_ty}}) Size() uint64 { return uint64(s.c.size) }

  // Pool returns the the pool identifier.
  func (s {{$slice_ty}}) Pool() ϟmem.PoolID {
    if s.c.pool == nil {
      return ϟmem.ApplicationPool
    }
    return ϟmem.PoolID(s.c.pool.id)
  }

  // ElementType returns the reflect.Type of the elements in the slice.
  func (s {{$slice_ty}}) ElementType() reflect.Type {
      var el {{if not $el_is_void}}{{$el_ty}}{{else}}byte{{end}}
      return reflect.TypeOf(el)
  }

  // ElementSize returns the size in bytes of an element that {{$slice_ty}} points to.
  func (s {{$slice_ty}}) ElementSize(ϟl *device.MemoryLayout) uint64 {
    return {{Template "Go.SizeOf" $s.To}}
  }
  // Range returns the memory range this slice represents in the underlying pool.
  func (s {{$slice_ty}}) Range() ϟmem.Range {
    return ϟmem.Range{Base: s.Base(), Size: s.Size()}
  }

  // ResourceID returns an identifier to a resource representing the data of
  // this slice.
  func (s {{$slice_ty}}) ResourceID(ϟctx context.Context, ϟg *ϟapi.GlobalState) id.ID {
    id, err := ϟg.Memory.MustGet(s.Pool()).Slice(s.Range()).ResourceID(ϟctx)
    if err != nil {
      panic(err)
    }
    return id
  }

  // Reader returns a binary reader for the slice.
  func (s {{$slice_ty}}) Reader(ϟctx context.Context, ϟg *ϟapi.GlobalState) binary.Reader {
    return ϟg.MemoryReader(ϟctx, ϟg.Memory.MustGet(s.Pool()).Slice(s.Range()))
  }

  // Writer returns a binary writer for the slice.
  func (s {{$slice_ty}}) Writer(ϟg *ϟapi.GlobalState) binary.Writer {
    return ϟg.MemoryWriter(s.Pool(), s.Range())
  }

  // Decoder returns a memory decoder for the slice.
  func (s {{$slice_ty}}) Decoder(ϟctx context.Context, ϟg *ϟapi.GlobalState) *ϟmem.Decoder {
    return ϟg.MemoryDecoder(ϟctx, ϟg.Memory.MustGet(s.Pool()).Slice(s.Range()))
  }

  // Encoder returns a memory encoder for the slice.
  func (s {{$slice_ty}}) Encoder(ϟg *ϟapi.GlobalState) *ϟmem.Encoder {
    return ϟg.MemoryEncoder(s.Pool(), s.Range())
  }

  {{if not $el_is_void}}
    // As{{$slice_ty}} returns s cast to a {{$slice_ty}}.
    // The returned slice length will be calculated so that the returned slice is
    // no longer (in bytes) than s.
    func As{{$slice_ty}}(ϟctx context.Context, s ϟmem.Slice) {{$slice_ty}} {
      ϟenv := ϟexec.GetEnv(ϟctx)
      ϟl := ϟenv.State.MemoryLayout; _ = ϟl
      elSize := {{Template "Go.SizeOf" $s.To}}
      newCount := s.Size() / elSize
      newSize := newCount * elSize

      poolID := s.Pool()
      pool := ϟenv.Pool(poolID)
      if pool == nil && poolID != ϟmem.ApplicationPool {
        panic(fmt.Errorf("Pool %d not found", poolID))
      }

      return {{$slice_ty}}{
        c: &C.gapil_slice{
          pool:  (*C.gapil_pool)(pool),
          root:  C.uint64_t(s.Root()),
          base:  C.uint64_t(s.Base()),
          size:  C.uint64_t(newSize),
          count: C.uint64_t(newCount),
        },
      }
    }

    // Read reads and returns all the {{$el_ty}} elements in this {{$slice_ty}}.
    func (s {{$slice_ty}}) Read(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) ([]{{$el_ty}}, error) {
      ϟa := ϟg.Arena; _ = ϟa
      s.OnRead(ϟctx, ϟc, ϟg, ϟb)
      out := make([]{{$el_ty}}, s.Count())
      ϟd := s.Decoder(ϟctx, ϟg)
      {{if IsU8 $s.To}}
        ϟd.Data(out)
      {{else}}
        for i := range out {
          out[i] = {{Template "Go.Decode" $s.To}}
        }
      {{end}}
      if err := ϟd.Error(); err != nil {
        return nil, err
      }
      return out, nil
    }

    func (s {{$slice_ty}}) Readʷ(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) ([]{{$el_ty}}, error) {
      return s.Read(ϟctx, ϟc, ϟg, ϟb) // DCE STUB
    }

    // MustRead calls and returns Read, panicing if there was an error.
    func (s {{$slice_ty}}) MustRead(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) []{{$el_ty}} {
      vals, err := s.Read(ϟctx, ϟc, ϟg, ϟb)
      panicOnError(err)
      return vals
    }

    func (s {{$slice_ty}}) MustReadʷ(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) []{{$el_ty}} {
      return s.MustRead(ϟctx, ϟc, ϟg, ϟb) // DCE STUB
    }

    // Write copies elements from src to this slice. The number of elements copied is returned
    // which is the minimum of s.count and len(src).
    func (s {{$slice_ty}}) Write(ϟctx context.Context, src []{{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) (uint64, error) {
      ϟa := ϟg.Arena; _ = ϟa
      count := u64.Min(s.Count(), uint64(len(src)))
      e := s.Slice(0, count).Encoder(ϟg)
      ϟmem.Write(e, src[:count])
      s.OnWrite(ϟctx, ϟc, ϟg, ϟb)
      if err := e.Error(); err != nil {
        return 0, err
      }
      return count, nil
    }

    func (s {{$slice_ty}}) Writeʷ(ϟctx context.Context, src []{{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) (uint64, error) {
      return s.Write(ϟctx, src, ϟc, ϟg, ϟb) // DCE STUB
    }

    // MustWrite calls and returns Write, panicing if there was an error.
    func (s {{$slice_ty}}) MustWrite(ϟctx context.Context, src []{{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) uint64 {
      count, err := s.Write(ϟctx, src, ϟc, ϟg, ϟb)
      panicOnError(err)
      return count
    }

    func (s {{$slice_ty}}) MustWriteʷ(ϟctx context.Context, src []{{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) uint64 {
      return s.MustWrite(ϟctx, src, ϟc, ϟg, ϟb) // DCE STUB
    }

    // Copy copies elements from src to this slice.
    // The number of elements copied is the minimum of dst.Count and src.Count.
    // The slices of this and dst to the copied elements is returned.
    func (dst {{$slice_ty}}) Copy(ϟctx context.Context, src {{$slice_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) (d, s {{$slice_ty}}) {
      count := u64.Min(dst.Count(), src.Count())
      dst, src = dst.Slice(0, count), src.Slice(0, count)
    {{if $el_is_ptr}}
      if (dst.Pool() == ϟmem.ApplicationPool) != (src.Pool() == ϟmem.ApplicationPool) {
        dst.MustWrite(ϟctx, src.MustRead(ϟctx, ϟc, ϟg, ϟb), ϟc, ϟg, ϟb) // Element-wise copy so we can convert u64 <-> {{$ptr_ty}}
      } else {
    {{end}}
      src.OnRead(ϟctx, ϟc, ϟg, ϟb)
      ϟg.Memory.MustGet(dst.Pool()).Write(dst.Base(), ϟg.Memory.MustGet(src.Pool()).Slice(src.Range()))
      dst.OnWrite(ϟctx, ϟc, ϟg, ϟb)
    {{if $el_is_ptr}} } {{end}}
      return dst, src
    }

    func (dst {{$slice_ty}}) Copyʷ(ϟctx context.Context, src {{$slice_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) (d, s {{$slice_ty}}) {
      return dst.Copy(ϟctx, src, ϟc, ϟg, ϟb, ϟw) // DCE STUB
    }

    // Contains returns true if the slice contains the specified value.
    func (s {{$slice_ty}}) Contains(ϟctx context.Context, val {{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) bool {
      for _, e := range s.MustRead(ϟctx, ϟc, ϟg, ϟb) {
        if {{Template "Go.Equal" "Type" $s.To "LHS" "e" "RHS" "val"}} {
          return true
        }
      }
      return false
    }

    func (s {{$slice_ty}}) Containsʷ(ϟctx context.Context, val {{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) bool {
      return s.Contains(ϟctx, val, ϟc, ϟg, ϟb) // DCE STUB
    }

  {{end}}

  // OnRead calls the backing pool's OnRead callback. s is returned so calls can be chained.
  func (s {{$slice_ty}}) OnRead(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) {{$slice_ty}} {
    ϟl, ϟa := ϟg.MemoryLayout, ϟg.Arena; _, _ = ϟl, ϟa
    if pool, err := ϟg.Memory.Get(s.Pool()); err == nil {
      if f := pool.OnRead; f != nil {
        f(s.Range())
      }
    }
    if ϟb != nil && s.Pool() == ϟmem.ApplicationPool {
      {{if IsPointer ($s.To | Underlying)}}
        {{/* Pointers need remapping to replay addresses.
             Pointer sizes may vary between capture and replay.
             To handle this, we store pointers in a separate table and refer to
             these using pointer indices.
        */}}
        ϟd, dst := s.Decoder(ϟctx, ϟg), value.PointerIndex(s.Base() / uint64(ϟl.GetPointer().GetSize()))
        for i, c := uint64(0), s.Count(); i < c; i++ {
          {{if (GetAnnotation $s.To "replay_remap")}}{{Error "Remappings of pointers not implemented"}}{{end}}
          ptr := {{$el_ty}}(ϟd.Pointer()).value(ϟb, ϟc, ϟg)
          ϟb.StorePointer(dst, ptr)
          dst++
        }
        panicOnError(ϟd.Error())
      {{else if IsClass ($s.To | Underlying)}}
        {{Template "ReadStructWithRemapping" $s.To}}
      {{else}}
        s.ReserveMemory(ϟctx, ϟc, ϟg, ϟb)
        {{if (GetAnnotation $s.To "replay_remap")}}
          {{/* Element type has explicitly stated it needs custom remapping */}}
          ptr, step, ϟd := value.ObservedPointer(s.Base()), value.ObservedPointer(s.ElementSize(ϟl)), s.Decoder(ϟctx, ϟg)
          for i, c := uint64(0), s.Count(); i < c; i++ {
            v := {{Template "Go.Decode" $s.To}}
            if key, remap := v.remap(ϟc, ϟg); remap {
              loadRemap(ϟb, key, {{Template "Go.Replay.Type" $s.To}}, {{Template "Go.Replay.Value" "Type" $s.To "Name" "v"}})
            } else {
              ϟb.Push({{Template "Go.Replay.Value" "Type" $s.To "Name" "v"}})
            }
            ϟb.Store(ptr)
            ptr += step
          }
          panicOnError(ϟd.Error())
        {{else}}
          ϟb.Write(s.Range(), s.ResourceID(ϟctx, ϟg))
        {{end}}
      {{end}}
    }
    return s
  }

  func (s {{$slice_ty}}) OnReadʷ(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) {{$slice_ty}} {
      return s.OnRead(ϟctx, ϟc, ϟg, ϟb) // DCE STUB
  }

  // OnWrite calls the backing pool's OnWrite callback. s is returned so calls can be chained.
  func (s {{$slice_ty}}) OnWrite(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) {{$slice_ty}} {
    ϟl, ϟa := ϟg.MemoryLayout, ϟg.Arena; _, _ = ϟl, ϟa
    if pool, err := ϟg.Memory.Get(s.Pool()); err == nil {
      if f := pool.OnWrite; f != nil {
        f(s.Range())
      }
    }
    if ϟb != nil && s.Pool() == ϟmem.ApplicationPool {
      ϟb.ReserveMemory(ϟmem.Range{Base: s.Root(), Size: uint64(s.Range().End() - s.Root())})
      {{if (GetAnnotation $s.To "replay_remap")}}
        {{/* Element type has explicitly stated it needs custom remapping */}}
        size := s.ElementSize(ϟl)
        ptr, step, ϟd := value.ObservedPointer(s.Base()), value.ObservedPointer(size), s.Decoder(ϟctx, ϟg)
        for i, c := uint64(0), s.Count(); i < c; i++ {
          v := {{Template "Go.Decode" $s.To}}
          if key, remap := v.remap(ϟc, ϟg); remap {
            dst, found := ϟb.Remappings()[key]
            if !found {
              dst = ϟb.AllocateMemory(size)
              ϟb.Remappings()[key] = dst
            }
            ϟb.Load({{Template "Go.Replay.Type" $s.To}}, ptr)
            ϟb.Store(dst)
          }
          ptr += step
        }
        panicOnError(ϟd.Error())
      {{end}}
    }
    return s
  }

  func (s {{$slice_ty}}) OnWriteʷ(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) {{$slice_ty}} {
      return s.OnWrite(ϟctx, ϟc, ϟg, ϟb) // DCE STUB
  }

  func (s {{$slice_ty}}) ReserveMemory(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) {{$slice_ty}} {
    if ϟb != nil && s.Pool() == ϟmem.ApplicationPool {
      rng := s.Range()
      ϟb.ReserveMemory(ϟmem.Range{Base: s.Root(), Size: uint64(rng.End() - s.Root())})
    }
    return s
  }

  // Index returns a sub-slice to the i'th element in this {{$slice_ty}}.
  func (s {{$slice_ty}}) Index(i uint64) {{$slice_ty}} {
    return s.Slice(i, i+1)
  }

  // Slice returns a sub-slice from the {{$slice_ty}} using start and end indices.
  func (s {{$slice_ty}}) Slice(start, end uint64) {{$slice_ty}} {
    if start > end {
      panic(fmt.Errorf("%v.Slice start (%d) is greater than the end (%d)", s, start, end))
    }
    if end > s.Count() {
      panic(fmt.Errorf("%v.Slice(%d, %d) - out of bounds", s, start, end))
    }
    newCount := end-start
    elSize := uint64(0)
    if s.Count() > 0 {
      elSize = s.Size() / s.Count()
    }
    return {{$slice_ty}}{
      c: &C.gapil_slice{
        pool:  s.c.pool,
        root:  C.uint64_t(s.Root()),
        base:  C.uint64_t(s.Base() + start * elSize),
        size:  C.uint64_t(newCount * elSize),
        count: C.uint64_t(newCount),
      },
    }
  }

  // ISlice returns a sub-slice from this slice using start and end indices.
  func (s {{$slice_ty}}) ISlice(start, end uint64) ϟmem.Slice {
    return s.Slice(start, end)
  }

  // String returns a string description of the {{$slice_ty}} slice.
  func (s {{$slice_ty}}) String() string {
    return fmt.Sprintf("{{$el_ty}}(0x%x@%v)[%d]", s.Base(), s.Pool(), s.Size())
  }

  // Check interface conformance
  var _ path.Linker = {{$slice_ty}}{}

  // Link returns a path which can be used to view memory which is referenced
  // by the slice s.
  // If nil, nil is returned then the path cannot be followed.
  func (s {{$slice_ty}}) Link(ϟctx context.Context, ϟp path.Node, ϟr *path.ResolveConfig) (path.Node, error) {
    if cmd := path.FindCommand(ϟp); cmd != nil {
      return cmd.MemoryAfter(uint32(s.Pool()), s.Base(), s.Size()), nil
    }
    return nil, nil
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Pointer type
-------------------------------------------------------------------------------
*/}}
{{define "DeclarePointer"}}
  {{AssertType $ "Pointer" "Pseudonym"}}

  {{$name := Macro "Go.TypeName" $}}

  {{$p          := $ | Underlying | Unpack                 }}
  {{$slice_ty   := Macro "Go.Type"   $p.Slice              }}
  {{$ptr_ty     := Macro "Go.Type"   $                     }}
  {{$el_ty      := Macro "Go.Type"   $p.To                 }}
  {{$el_is_void := IsVoid    ($p.To | Underlying | Unpack) }}
  {{$el_is_char := IsChar    ($p.To | Underlying | Unpack) }}
  {{$el_is_ptr  := IsPointer ($p.To | Underlying | Unpack) }}

  var (
    _ ϟmem.Pointer = {{$ptr_ty}}(0)
    _ path.Linker = {{$ptr_ty}}(0)
    _ data.Assignable = (*{{$ptr_ty}})(nil)
  )

  // {{$ptr_ty}} is a pointer to a {{$el_ty}} element.
  type {{$ptr_ty}} uint64

  // New{{$ptr_ty}} returns a {{$ptr_ty}} that points to addr.
  func New{{$ptr_ty}}(p ϟmem.Pointer) {{$ptr_ty}} {
    if p == nil {
      return {{$ptr_ty}}(0)
    }
    return {{$ptr_ty}}(p.Address())
  }

  func (p *{{$ptr_ty}}) Assign(o interface{}) bool {
    if o, ok := o.(ϟmem.Pointer); ok {
      *p = {{$ptr_ty}}(o.Address())
      return true
    }
    return false
  }

  func (p {{$ptr_ty}}) String() string { return ϟmem.PointerToString(p) }

  // IsNullptr returns true if the pointer address is 0.
  func (p {{$ptr_ty}}) IsNullptr() bool { return p == 0 }

  // APointer implements the ReflectPointer interface
  func (p {{$ptr_ty}}) APointer() {}

  // Address returns the pointer's memory address.
  func (p {{$ptr_ty}}) Address() uint64 { return uint64(p) }

  // Offset returns the pointer offset by n bytes.
  func (p {{$ptr_ty}}) Offset(n uint64) ϟmem.Pointer { return p + {{$ptr_ty}}(n) }

  // ElementType returns the reflect.Type of the element that {{$ptr_ty}} points to.
  func (p {{$ptr_ty}}) ElementType() reflect.Type {
      var el {{if not $el_is_void}}{{$el_ty}}{{else}}byte{{end}}
      return reflect.TypeOf(el)
  }

  // ElementSize returns the size in bytes of an element that {{$ptr_ty}} points to.
  func (p {{$ptr_ty}}) ElementSize(ϟl *device.MemoryLayout) uint64 {
    return {{Template "Go.SizeOf" $p.To}}
  }

  {{if not $el_is_void}}
    // Read reads and returns the {{$el_ty}} element at the pointer.
    func (p {{$ptr_ty}}) Read(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) ({{$el_ty}}, error) {
      ϟa := ϟg.Arena; _ = ϟa
      vals, err := p.Slice(0, 1, ϟg.MemoryLayout).Read(ϟctx, ϟc, ϟg, ϟb)
      if err != nil {
        return {{Template "Go.Null" (TypeOf $p.To)}}, err
      }
      return vals[0], nil
    }

    func (p {{$ptr_ty}}) Readʷ(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) ({{$el_ty}}, error) {
      return p.Read(ϟctx, ϟc, ϟg, ϟb) // DCE STUB
    }

    // MustRead calls and returns Read, panicing if there was an error.
    func (p {{$ptr_ty}}) MustRead(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) {{$el_ty}} {
      val, err := p.Read(ϟctx, ϟc, ϟg, ϟb)
      panicOnError(err)
      return val
    }

    func (p {{$ptr_ty}}) MustReadʷ(ϟctx context.Context, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) {{$el_ty}} {
      return p.MustRead(ϟctx, ϟc, ϟg, ϟb) // DCE STUB
    }

    // Write writes value to the {{$el_ty}} element at the pointer.
    func (p {{$ptr_ty}}) Write(ϟctx context.Context, value {{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) error {
      _, err := p.Slice(0, 1, ϟg.MemoryLayout).Write(ϟctx, []{{$el_ty}}{value}, ϟc, ϟg, ϟb)
      return err
    }

    func (p {{$ptr_ty}}) Writeʷ(ϟctx context.Context, value {{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) error {
      return p.Write(ϟctx, value, ϟc, ϟg, ϟb) // DCE STUB
    }

    // MustWrite calls Write, panicing if there was an error.
    func (p {{$ptr_ty}}) MustWrite(ϟctx context.Context, value {{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder) {
      panicOnError(p.Write(ϟctx, value, ϟc, ϟg, ϟb))
    }

    func (p {{$ptr_ty}}) MustWriteʷ(ϟctx context.Context, value {{$el_ty}}, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState, ϟb builder.Builder, ϟw ϟapi.StateWatcher) {
      p.MustWrite(ϟctx, value, ϟc, ϟg, ϟb) // DCE STUB
    }
  {{end}}

  {{if $el_is_char}}
    // StringSlice returns a slice starting at p and ending at the first 0 byte null-terminator.
    func (p {{$ptr_ty}}) StringSlice(ϟctx context.Context, ϟg *ϟapi.GlobalState) Charˢ {
      numBytes := uint64(2^6)
      i, ϟd := uint64(0), ϟg.MemoryDecoder(ϟctx, ϟg.Memory.MustGet(ϟmem.ApplicationPool).TempSlice(ϟmem.Range{Base: uint64(p), Size: numBytes}))

      for {
        if i >= numBytes {
          ϟd = ϟg.MemoryDecoder(ϟctx, ϟg.Memory.MustGet(ϟmem.ApplicationPool).TempSlice(ϟmem.Range{Base: uint64(p) + i, Size: numBytes}))
        }

        i++
        if b := ϟd.U8(); b == 0 {
          return Charˢ(p.Slice(0, i, ϟg.MemoryLayout))
        }
      }
    }
  {{end}}

  // Slice returns a new {{$slice_ty}} from the pointer using start and end indices.
  func (p {{$ptr_ty}}) Slice(start, end uint64, ϟl *device.MemoryLayout) {{$slice_ty}} {
    if start > end {
      panic(fmt.Errorf("Slice start (%d) is greater than the end (%d)", start, end))
    }
    elSize := p.ElementSize(ϟl)
    count := end-start
    return {{$slice_ty}}{
      c: &C.gapil_slice{
        root:  C.uint64_t(p),
        base:  C.uint64_t(uint64(p) + start * elSize),
        size:  C.uint64_t((count) * elSize),
        count: C.uint64_t(count),
      },
    }
  }

  // ISlice returns a new Slice from the pointer using start and end indices.
  func (p {{$ptr_ty}}) ISlice(start, end uint64, ϟl *device.MemoryLayout) ϟmem.Slice { return p.Slice(start, end, ϟl) }

  // Link returns a path to the object that this is a link to, or error
  // if you can not follow this path. Typically the incoming path ϟp
  // is a path to the command and resulting path is a path to an object
  // identified by p. Once resolved the command will return a representation
  // of the value of the instance after the command has executed.
  func (p {{$ptr_ty}}) Link(ϟctx context.Context, ϟp path.Node, ϟr *path.ResolveConfig) (path.Node, error) {
    if cmd := path.FindCommand(ϟp); cmd != nil {
      return cmd.MemoryAfter(uint32(ϟmem.ApplicationPool), uint64(p), 0), nil
    }
    return nil, nil
  }

  {{if not (GetAnnotation $ "replay_custom_value")}}
    func (p {{$ptr_ty}}) value(ϟb builder.Builder, ϟc ϟapi.Cmd, ϟg *ϟapi.GlobalState) value.Pointer {
      if p != 0 {
        {{if $el_is_ptr}}
          return value.PointerIndex(uint64(p) / uint64(ϟg.MemoryLayout.GetPointer().GetSize()))
        {{else}}
          return value.ObservedPointer(uint64(p))
        {{end}}
      } else {
        return value.AbsolutePointer(0)
      }
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Pseudonym type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclarePseudonym"}}
  {{AssertType $ "Pseudonym"}}

  {{$ty := $.To | Underlying}}
  {{     if IsVoid        $ty}}
  {{else if IsReference   $ty}}
  {{else if IsPointer     $ty}}{{Template "DeclarePointer" $}}
  {{else if IsSlice       $ty}}{{Template "DeclareSlice" $}}
  {{else if IsStaticArray $ty}}{{Template "DeclareStaticArray" $}}
  {{else                     }}
    {{$name := Macro "Go.TypeName" $}}
    {{$to := Macro "Go.Type" $.To}}
    type {{$name}} {{$to}}
    {{if IsSize $ty}}
      // Dummy function to make {{$name}} implement SizeTy interface
      func ({{$name}}) IsMemorySize() {}
    {{else if IsChar $ty}}
      // Dummy function to make {{$name}} implement CharTy interface
      func ({{$name}}) IsChar() {}
    {{else if IsInt $ty}}
      // Dummy function to make {{$name}} implement IntTy interface
      func ({{$name}}) IsInt() {}
    {{else if IsUint $ty}}
      // Dummy function to make {{$name}} implement UintTy interface
      func ({{$name}}) IsUint() {}
    {{end}}
    func Decode{{$name}}(ϟd *ϟmem.Decoder, ϟa arena.Arena) {{$name}} {
      return {{$name}}({{Template "Go.Decode" $ty}})
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Class type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareClass"}}
  {{AssertType $ "Class"}}

  {{$name := Macro "Go.TypeName" $}}

  type {{$name}} struct {
    c *{{Template "CgoType" $}}
    a arena.Arena
    uncompareable
  }

  // Nil{{$name}} is a {{$name}} with default values in all fields.
  var Nil{{$name}} = Make{{$name}}(constantArena)

  // Format implements fmt.Formatter to print the class.
  func (c {{$name}}) Format(f fmt.State, r rune) {
    fmt.Fprintln(f, "{{$name}}{")«
    {{range $f := $.Fields}}
      fmt.Fprintf(f, "  {{$f.Name}}: %v\n", c.{{$f.Name | GoPublicName}}())
    {{end}}
    fmt.Fprintln(f, "}")
  }

  {{range $f := $.Fields}}
    {{Template "DeclareGetterSetter" "Struct" $name "Name" $f.Name "Type" $f.Type}}
  {{end}}

  // Arena returns the memory arena used to allocate this class.
  func (c {{$name}}) Arena() arena.Arena { return c.a }

  // New{{$name}} returns a new {{$name}} class with the given fields.
  func New{{$name}}(§
    ϟa arena.Arena§
    {{range $f := $.Fields}}
      , {{$f.Name | GoPrivateName}} {{Template "Go.Type" $f}}§
    {{end}}
  ) {{$name}} {
    return {{$name}}{
      c: &{{Template "CgoType" $}} { §
        {{range $f := $.Fields}}
          {{$f.Name | CFieldName}}: {{Template "GoToC" "Type" (TypeOf $f) "Name" ($f.Name | GoPrivateName) "Arena" "ϟa"}}, §
        {{end}}
      },
      a: ϟa,
    }
  }

  // Make{{$name}} returns a new {{$name}} class with the default field values.
  func Make{{$name}}(ϟa arena.Arena) {{$name}} {
    return New{{$name}}(ϟa, §
      {{range $i, $f := $.Fields}}
        {{if IsNil $f.Default}}
          {{Template "Go.Null" $f.Type}}, §
        {{else}}
          {{Template "Go.Read" $f.Default}}, §
        {{end}}
      {{end}}
    )
  }

  // Properties returns all the properties of the class.
  func (c {{$name}}) Properties() ϟapi.Properties {
    return ϟapi.Properties{
      {{range $f := $.Fields}}
        {{$get := GoPublicName $f.Name}}
        {{$set := printf "Set%v" $get}}
        {{$cs  := ConstantSetIndex $f}}
        ϟapi.NewProperty("{{$f.Name}}", c.{{$get}}, c.{{$set}})§
        {{if ge $cs 0}}.SetConstants({{$cs}}){{end}},
      {{end}}
    }
  }

  // Equals returns true if the class fields are equal to those of o.
  func (c {{$name}}) Equals(o {{$name}}) bool {
    return *c.c == *o.c
  }

  func (c {{$name}}) Equalsʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, o {{$name}}) bool {
    return c.Equals(o) // DCE STUB
  }

  {{if IsStorageType $}}
    // {{$name}}Size returns the size of the class in bytes.
    func {{$name}}Size(ϟl *device.MemoryLayout) uint64 {
      var size, align uint64
      {{range $f := $.Fields}}
        {{$a := print $f.Name "Alignment"}}
        {{$a}} := {{Template "Go.AlignOf" $f.Type}}
        size = u64.AlignUp(size, {{$a}})
        size += {{Template "Go.SizeOf" $f.Type}}
        align = u64.Max(align, {{$a}})
      {{end}}
      return u64.AlignUp(size, align)
    }

    // TypeSize returns the size of the class in bytes.
    func ({{$name}}) TypeSize(ϟl *device.MemoryLayout) uint64 { return {{$name}}Size(ϟl) }

    // {{$name}}Alignment returns the alignment of the class in bytes.
    func {{$name}}Alignment(ϟl *device.MemoryLayout) uint64 {
      alignment := uint64(1)
      {{range $f := $.Fields}}
        alignment = u64.Max(alignment, {{Template "Go.AlignOf" $f.Type}})
      {{end}}
      return alignment
    }

    // TypeAlignment returns the alignment of the class in bytes.
    func ({{$name}}) TypeAlignment(ϟl *device.MemoryLayout) uint64 { return {{$name}}Alignment(ϟl) }

    // Encode encodes this class to the encoder.
    func (c {{$name}}) Encode(ϟe *ϟmem.Encoder) {
      alignment := {{$name}}Alignment(ϟe.MemoryLayout())
      ϟe.Align(alignment)
      base := ϟe.Offset();
      {{range $f := $.Fields}}
        {{Template "Go.Encode" "Type" $f.Type "Value" (print "c." ($f.Name | GoPublicName) "()")}}
      {{end}}
      bytes := ϟe.Offset() - base
      ϟe.Pad({{$name}}Size(ϟe.MemoryLayout()) - bytes)
    }

    // Decode decodes this class from the decoder.
    func (c {{$name}}) Decode(ϟd *ϟmem.Decoder) {
      ϟa := c.Arena(); _ = ϟa
      ϟd.Align({{$name}}Alignment(ϟd.MemoryLayout()))
      base := ϟd.Offset();
      {{range $f := $.Fields}}
        {{if IsClass $f.Type}}
          c.{{$f.Name | GoPublicName}}().Decode(ϟd)
        {{else}}
          c.Set{{$f.Name | GoPublicName}}({{Template "Go.Decode" $f.Type}})
        {{end}}
      {{end}}
      bytes := ϟd.Offset() - base
      ϟd.Skip({{$name}}Size(ϟd.MemoryLayout()) - bytes)
    }

    // Decode decodes a new class from the decoder.
    func Decode{{$name}}(ϟd *ϟmem.Decoder, ϟa arena.Arena) {{$name}} {
      out := Make{{$name}}(ϟa)
      out.Decode(ϟd)
      return out
    }
  {{end}}

  // Clone makes a deep copy of this class.
  func (c {{$name}}) Clone(ϟctx context.Context) {{$name}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    var out {{$name}}
    ϟenv.Bind(ϟctx, func() {
      ϟt := C.gapil_create_clone_tracker(((*C.arena)(ϟenv.State.Arena.Pointer)))
      defer C.gapil_destroy_clone_tracker(ϟt)
      out = c.clone(ϟenv, ϟt)
    })
    return out
  }

  func (c {{$name}}) Cloneʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher) {{$name}} {
    return c.Clone(ϟctx) // DCE STUB
  }

  func (c {{$name}}) clone(ϟenv *ϟexec.Env, ϟt unsafe.Pointer) {{$name}} {
    ϟa := ϟenv.State.Arena
    return New{{$name}}(ϟa,
    {{range $f := $.Fields}}
      {{Template "Clone" "Type" $f.Type "Src" (print "c." ($f.Name | GoPublicName) "()")}},
    {{end}}
    )
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the Command
-------------------------------------------------------------------------------
*/}}
{{define "DeclareCommand"}}
  {{AssertType $.Command "Function"}}

  {{$name := $.Command.Name | Title}}
  {{$ret  := not (IsVoid $.Command.Return.Type)}}

  type {{$name}} struct {
    c *C.{{$.Command.Name}}
    thread uint64
    caller ϟapi.CmdID
    extras ϟapi.CmdExtras
    arena arena.Arena
  }

  // Arena returns the memory arena used to allocate this command.
  func (ϟc *{{$name}}) Arena() arena.Arena { return ϟc.arena }

  func (ϟc *{{$name}}) Thread() uint64 { return uint64(ϟc.thread) }

  func (ϟc *{{$name}}) SetThread(v uint64) { ϟc.thread = v }

	func (ϟc *{{$name}}) ExecData() unsafe.Pointer { return unsafe.Pointer(ϟc.c) }

  func (ϟc *{{$name}}) Caller() ϟapi.CmdID { return ϟc.caller }

  func (ϟc *{{$name}}) SetCaller(id ϟapi.CmdID) { ϟc.caller = id }

  func (ϟc *{{$name}}) CmdIndex() int { return {{$.Index}} }

  func (ϟc *{{$name}}) CmdName() string { return "{{$.Command.Name}}" }

  func (ϟc *{{$name}}) String() string {
    return fmt.Sprintf("{{$.Command.Name}}(§
      {{range $i, $p := $.Command.CallParameters}}
        {{if $i}}, §{{end}}
        {{$p.Name}}: %v§
      {{end}}
      ){{if $ret}} → %v{{end}}",§
      {{range $i, $p := $.Command.CallParameters}}
        {{Template "Go.Parameter" $p}}, §
      {{end}}
      {{if $ret}}ϟc.Result()§{{end}}
    )
  }

  func (ϟc *{{$name}}) API() ϟapi.API { return API{} }

  func (ϟc *{{$name}}) CmdParams() ϟapi.Properties {
    return ϟapi.Properties{
      {{range $p := $.Command.CallParameters}}
        {{$get := GoPublicName $p.Name}}
        {{$set := printf "Set%v" $get}}
        {{$cs  := ConstantSetIndex $p}}
        ϟapi.NewProperty("{{$p.Name}}", ϟc.{{$get}}, ϟc.{{$set}})§
        {{if ge $cs 0}}.SetConstants({{$cs}}){{end}},
      {{end}}
    }
  }

  func (ϟc *{{$name}}) CmdResult() *ϟapi.Property {
    {{if $ret}}
      {{$cs := ConstantSetIndex $.Command.Return}}
      return ϟapi.NewProperty("result", ϟc.Result, ϟc.SetResult)
      {{if ge $cs 0}}§.SetConstants({{$cs}}){{end}}
    {{else}}
      return nil
    {{end}}
  }

  func (ϟc *{{$name}}) CmdFlags(ϟctx context.Context, ϟi ϟapi.CmdID, ϟg *ϟapi.GlobalState) ϟapi.CmdFlags {
    {{$names := Strings "draw_call" "transform_feedback" "clear" "frame_start"  "frame_end"  "user_marker" "push_user_marker" "pop_user_marker" "executed_draw"}}
    {{$flags := Strings "DrawCall"  "TransformFeedback"  "Clear" "StartOfFrame" "EndOfFrame" "UserMarker"  "PushUserMarker"   "PopUserMarker" "ExecutedDraw"}}

    var out ϟapi.CmdFlags
    {{range $i, $name := $names}}
      {{$flag := index $flags $i}}
      {{if $a := GetAnnotation $.Command $name}}
        {{if $expr := Macro "FlagExpr" "Annotation" $a "Flag" $flag}}
          {{$expr}}
        {{else}}
          out = out | ϟapi.{{$flag}}
        {{end}}
      {{end}}
    {{end}}
    return out
  }

  func (ϟc *{{$name}}) Extras() *ϟapi.CmdExtras { return &ϟc.extras }

  // AddRead appends a new read observation to the command of the range rng
  // with the data id.
  // The {{$name}} pointer is returned so that calls can be chained.
  func (ϟc *{{$name}}) AddRead(rng ϟmem.Range, id id.ID) *{{$name}} {
    ϟc.extras.GetOrAppendObservations().AddRead(rng, id)
    return ϟc
  }

  // AddWrite appends a new write observation to the command of the range rng
  // with the data id.
  // The {{$name}} pointer is returned so that calls can be chained.
  func (ϟc *{{$name}}) AddWrite(rng ϟmem.Range, id id.ID) *{{$name}} {
    ϟc.extras.GetOrAppendObservations().AddWrite(rng, id)
    return ϟc
  }

  {{range $p := $.Command.FullParameters}}
    {{$pname := Macro "Go.Parameter" $p}}
    {{Template "DeclareGetterSetter" "Struct" $name "Name" $p.Name "Type" $p.Type}}¶
  {{end}}

  // clone returns a shallow clone of the command. Extras are shared.
  func (ϟc {{$name}}) clone(ϟctx context.Context) *{{$name}} {
    ϟenv := ϟexec.GetEnv(ϟctx)
    var out *{{$name}}
    ϟenv.Bind(ϟctx, func() {
      ϟt := C.gapil_create_clone_tracker(((*C.arena)(ϟenv.State.Arena.Pointer)))
      defer C.gapil_destroy_clone_tracker(ϟt)
      ϟcc := (*C.gapil_context)(ϟenv.CContext())
      out = &{{$name}}{
        c:      C.{{$.Command.Name}}__clone(ϟc.c, ϟcc, ϟt),
        thread: ϟc.thread,
        caller: ϟc.caller,
        extras: ϟc.extras,
        arena:  ϟenv.State.Arena,
      }
    })
    return out
  }

  // Clone returns a shallow clone of this command. Extras are shared.
  func (ϟc *{{$name}}) Clone(ϟctx context.Context) ϟapi.Cmd {
    return ϟc.clone(ϟctx)
  }

  func (ϟc *{{$name}}) Alive() bool { return true } // TODO: REMOVE
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a builder for all API commands.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareCommandBuilder"}}
  {{AssertType $ "API"}}

  // CommandBuilder is used to construct new {{$.Name}} commands.
  type CommandBuilder struct {
    Thread uint64
    Arena  arena.Arena
  }
  ¶
  func (cb CommandBuilder) Custom(f func(context.Context, *ϟapi.GlobalState, builder.Builder) error) *replay.Custom {
    return &replay.Custom{T: cb.Thread, F: f}
  }
  ¶
  {{range $c := AllCommands $}}
    {{if not (GetAnnotation $c "pfn")}} {{/* TODO remove the @pfn nastiness */}}
      {{$name := $c | GoCommandName}}
      func (cb CommandBuilder) {{Title $name}}(§
          {{range $p := $c.FullParameters}}
            {{if $p | TypeOf | Underlying | IsPointer}}
              {{$p.Name | GoPrivateName}} ϟmem.Pointer,§
            {{else}}
              {{$p.Name | GoPrivateName}} {{Template "Go.Type" $p}},§
            {{end}}
          {{end}}
        ) *{{$name}} {
        out := &{{$name}}{
          c:      {{Template "Allocate" "Arena" "cb.Arena" "Type" (print "C." $c.Name)}},
          thread: cb.Thread,
          caller: ϟapi.CmdNoID,
          arena:  cb.Arena,
        }
        {{range $p := $c.FullParameters}}
          {{if $p | TypeOf | Underlying | IsPointer}}
            out.Set{{GoPublicName $p.Name}}({{Template "Go.Type" $p}}({{$p.Name | GoPrivateName}}.Address()))
          {{else}}
            out.Set{{GoPublicName $p.Name}}({{$p.Name | GoPrivateName}})
          {{end}}
        {{end}}
        return out
      }
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Go declaration of the State
-------------------------------------------------------------------------------
*/}}
{{define "DeclareState"}}
  {{AssertType $ "API"}}

  type State struct {
    c *C.State
    a arena.Arena
    refs []interface{} `nocompare:"true" hidden:"true" nobox:"true"`
    customState `hidden:"true" nobox:"true"`
  }

  {{range $g := $.Globals}}
    {{Template "DeclareGetterSetter" "Struct" "State" "Name" $g.Name "Type" $g.Type}}¶
  {{end}}

  // Arena returns the memory arena used to allocate the state.
  func (g *State) Arena() arena.Arena { return g.a }

  func (g *State) API() ϟapi.API { return API{} }

  // NewState returns a new, uninitialized state.
  func NewState(ϟa arena.Arena) *State {
    return &State{
      c: {{Template "Allocate" "Arena" "ϟa" "Type" "C.State"}},
      a: ϟa,
    }
  }

  // Format implements fmt.Formatter to print the state.
  func (s *State) Format(f fmt.State, r rune) {
    fmt.Fprintln(f, "{{$.Name}}{")«
    {{range $f := $.Globals}}
      fmt.Fprintf(f, "  {{$f.Name}}: %v\n", s.{{$f.Name | GoPublicName}}())
    {{end}}
    fmt.Fprintln(f, "}")
  }

  func (s *State) Set(v ϟapi.State) {
    *s.c = *v.(*State).c
  }


  // Init initializes the state.
  func (s *State) Init() {
    ϟa := s.a; _ = ϟa
    {{range $g := $.Globals}}
      {{if IsNil $g.Default}}
        {{if $init := Macro "Go.DefaultInitialValue" $g.Type}}
          s.Set{{$g.Name | GoPublicName}}({{$init}})
        {{else}}
          s.Set{{$g.Name | GoPublicName}}({{Template "Go.Null" $g.Type}})
        {{end}}
      {{else}}
        s.Set{{$g.Name | GoPublicName}}({{Template "Go.Read" $g.Default}})
      {{end}}
    {{end}}
    s.customState.init(s)
  }

  // Properties returns all the properties of the state.
  func (g State) Properties() ϟapi.Properties {
    return ϟapi.Properties{
      {{range $g := $.Globals}}
        {{$get := GoPublicName $g.Name}}
        {{$set := printf "Set%v" $get}}
        {{$cs  := ConstantSetIndex $g}}
        ϟapi.NewProperty("{{$g.Name}}", g.{{$get}}, nil)§
        {{if ge $cs 0}}.SetConstants({{$cs}}){{end}},
      {{end}}
    }
  }

  // Clone returns a deep copy of this state object.
  func (g *State) Clone(ϟctx context.Context) ϟapi.State {
    ϟenv := ϟexec.GetEnv(ϟctx)
    ϟa := ϟenv.State.Arena
    out := NewState(ϟa)
    ϟenv.Bind(ϟctx, func() {
      ϟt := C.gapil_create_clone_tracker((*C.arena)(ϟa.Pointer))
      defer C.gapil_destroy_clone_tracker(ϟt)

      out.customState = g.customState
      {{range $g := $.Globals}}
        {{$name := $g.Name | GoPublicName}}
        out.Set{{$name}}({{Template "Clone" "Type" $g.Type "Src" (print "g." $name "()")}})
      {{end}}
    })

    return out
  }

	// HoldReference holds a reference to the object to for the lifetime of this
	// State. This is used to prevent GC of objects while the State is alive.
  func (g *State) HoldReference(to interface{}) {
    g.refs = append(g.refs, to)
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a top-level type declaration for the specified API
-------------------------------------------------------------------------------
*/}}
{{define "DeclareAPI"}}
  var ID = ϟapi.ID(id.OfString("{{Global "API"}}"))

  type API struct {}

  // Name returns "{{Global "API"}}".
  func (API) Name() string {
    return "{{Global "API"}}"
  }

	// State returns a Go state object for the native state at p.
	func (API) State(a arena.Arena, p unsafe.Pointer) ϟapi.State {
    s := &State{
      c: (*C.State)(p),
      a: a,
    }
    s.customState.init(s)
    return s
  }

  // ID returns the unique identifier of the {{Global "API"}} API.
  func (API) ID() ϟapi.ID {
    return ID
  }

  // Index returns the Index of the {{Global "API"}} API.
  func (API) Index() uint8 {
    return uint8({{$.Index}})
  }

	// CreateCmd constructs and returns a new command with the specified name.
	func (API) CreateCmd(ϟa arena.Arena, name string) ϟapi.Cmd {
    cb := CommandBuilder{Arena: ϟa}
    switch name {
      {{range $c := AllCommands $}}
        {{if not (GetAnnotation $c "pfn")}}
          case "{{$c.Name}}":
            return cb.{{$c | GoCommandName}}(
              {{range $i, $p := $c.FullParameters}}
                {{Template "Go.Null" $p.Type}},
              {{end}}
            )
        {{end}}
      {{end}}
      default:
        return nil
    }
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits code for reading a slice of structures and remapping all of their
  elements.
-------------------------------------------------------------------------------
*/}}
{{define "ReadStructWithRemapping"}}
  {{AssertType $ "Class"}}
  {{if $.Fields}}
    s.ReserveMemory(ϟctx, ϟc, ϟg, ϟb)
    // Write out the entire structure, then over-write
    // any pointer fields.
    ϟb.Write(s.Range(), s.ResourceID(ϟctx, ϟg))
    ϟd := s.Decoder(ϟctx, ϟg)
    for i, c := uint64(0), s.Count(); i < c; i++ {
      {{Template "ReadStructFieldsWithRemapping" $}}
    }
    panicOnError(ϟd.Error())
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits remapping code for all of the elements in a structure.
-------------------------------------------------------------------------------
*/}}
{{define "ReadStructFieldsWithRemapping"}}
  {{AssertType $ "Class"}}
  {{range $f := $.Fields}}
    {{$name := $f.Name | GoPublicName}}
    {{if IsPointer ($f.Type | Underlying)}}
      { // {{$.Name}}.{{$name}}
        ϟd.Align({{Template "Go.AlignOf" (TypeOf $f)}})
        addr := value.ObservedPointer(s.Base() + ϟd.Offset())
        ϟb.Push({{Macro "Go.Type" $f}}(ϟd.Pointer()).value(ϟb, ϟc, ϟg))
        ϟb.Store(addr)
      }
    {{else if IsClass ($f.Type | Underlying)}}
      ϟd.Align({{Template "Go.AlignOf" (TypeOf $f)}})
      {{Template "ReadStructFieldsWithRemapping" $f.Type}}
    {{else}}
      {{if GetAnnotation $f.Type "replay_remap"}}
        {
          ϟd.Align({{Template "Go.AlignOf" (TypeOf $f)}})
          addr := value.ObservedPointer(s.Base() + ϟd.Offset())
          v := {{Template "Go.Decode" $f.Type}}
          if key, remap := v.remap(ϟc, ϟg); remap {
            loadRemap(ϟb, key, {{Template "Go.Replay.Type" $f.Type}}, {{Template "Go.Replay.Value" "Type" $f.Type "Name" "v"}})
            ϟb.Store(addr)
          }
        }
      {{else}}
        _ = {{Template "Go.Decode" $f.Type}} // {{$.Name}}.{{$name}}
      {{end}}
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a the logic to add flags to the local variable out based on the flag
  expression.
-------------------------------------------------------------------------------
*/}}
{{define "FlagExpr"}}
  {{AssertType $.Annotation "Annotation"}}
  {{AssertType $.Flag       "string"}}

  {{if len $.Annotation.Arguments}}
    {{$expr := index $.Annotation.Arguments 0}}
    {{if $call := Macro "FlagCall" "Expr" $expr "Flag" $.Flag}}
      if {{$call}}; v {
        out = out | ϟapi.{{$.Flag}}
      }
    {{else}}
      if {{Template "Go.Read" $expr}} {
        out = out | ϟapi.{{$.Flag}}
      }
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a local assigned to the result of an expression call if $.Expr is a
  call. Used by CmdFlags().
-------------------------------------------------------------------------------
*/}}
{{define "FlagCall"}}
  {{AssertType $.Expr "Expression"}}

  {{if IsCall $.Expr}}
    {{$call := Unpack $.Expr}}
    {{$args := ForEach $call.Arguments "Go.Read" | JoinWith ", "}}
    v, _ := {{Template "Go.Subroutine" $call.Target.Function}}(ϟctx, ϟc, ϟi, ϟc.Extras().Observations(), ϟg, GetState(ϟg), ϟc.Thread(), nil, nil, {{$args}})
  {{else}}
    {{Error "%T" $.Expr}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the a getter and setter function for the given class field.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareGetterSetter"}}
  {{$g      := Macro "Go.Type" $.Type}}
  {{$get    := GoPublicName $.Name}}
  {{$set    := printf "Set%v" $get}}
  {{$field  := print ((Strings "c" "c" $.Prefix) | JoinWith ".") "." (CFieldName $.Name) }}

  func (c {{$.Struct}}) {{$get}}() {{$g}} {
    return {{Template "CToGo" "Type" $.Type "Name" $field "Arena" "c.Arena()"}}
  }

  func (c {{$.Struct}}) {{$set}}(v {{$g}}) {
    {{$field}} = {{Template "GoToC" "Type" $.Type "Name" "v" "Arena" "c.Arena()"}}
  }

  func (c {{$.Struct}}) {{$get}}ʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher) {{$g}} {
    return c.{{$get}}() // DCE STUB
  }

  func (c {{$.Struct}}) {{$set}}ʷ(ϟctx context.Context, ϟw ϟapi.StateWatcher, v {{$g}}) {
    c.{{$set}}(v) // DCE STUB
  }

{{end}}


{{/*
-------------------------------------------------------------------------------
  Clone returns a deep-clone of the given value.
-------------------------------------------------------------------------------
*/}}
{{define "Clone"}}
  {{AssertType $.Type "Type"}}

  {{     if IsPseudonym     $.Type}}{{Template "Clone" "Type" $.Type.To "Src" $.Src}}
  {{else if IsStaticArray   $.Type}}{{$.Src}}.clone(ϟenv, ϟt)
  {{else if IsMap           $.Type}}{{$.Src}}.clone(ϟenv, ϟt)
  {{else if IsClass         $.Type}}{{$.Src}}.clone(ϟenv, ϟt)
  {{else if IsEnum          $.Type}}{{$.Src}}
  {{else if IsPointer       $.Type}}{{$.Src}}
  {{else if IsSlice         $.Type}}{{$.Src}}
  {{else if IsReference     $.Type}}{{$.Src}}.clone(ϟenv, ϟt)
  {{else if IsBool          $.Type}}{{$.Src}}
  {{else if IsInt           $.Type}}{{$.Src}}
  {{else if IsUint          $.Type}}{{$.Src}}
  {{else if IsSize          $.Type}}{{$.Src}}
  {{else if IsChar          $.Type}}{{$.Src}}
  {{else if IsU8            $.Type}}{{$.Src}}
  {{else if IsS8            $.Type}}{{$.Src}}
  {{else if IsU16           $.Type}}{{$.Src}}
  {{else if IsS16           $.Type}}{{$.Src}}
  {{else if IsF32           $.Type}}{{$.Src}}
  {{else if IsU32           $.Type}}{{$.Src}}
  {{else if IsS32           $.Type}}{{$.Src}}
  {{else if IsF64           $.Type}}{{$.Src}}
  {{else if IsU64           $.Type}}{{$.Src}}
  {{else if IsS64           $.Type}}{{$.Src}}
  {{else if IsString        $.Type}}{{$.Src}}
  {{else}}{{Error "macro Clone called with unsupported type: %s" $.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to allocate an instance of type T with the arena A.
-------------------------------------------------------------------------------
*/}}
{{define "Allocate"}}
  (*{{$.Type}})({{$.Arena}}.Allocate(int(unsafe.Sizeof({{$.Type}}{})), int(unsafe.Alignof({{$.Type}}{}))))
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to convert a variable from C to Go.
-------------------------------------------------------------------------------
*/}}
{{define "CToGo"}}
  {{AssertType $.Type "Type"}}

  {{$ty := $.Type | Underlying}}

  {{     if IsClass       $ty}} {{Template "Go.Type" $.Type}}{ c: &{{$.Name}}, a: {{$.Arena}} }
  {{else if IsSlice       $ty}} {{Template "Go.Type" $.Type}}{ c: &{{$.Name}} }
  {{else if IsStaticArray $ty}} {{Template "Go.Type" $.Type}}{ c: (*{{Template "CgoTypeNoPtr" $.Type}})(&{{$.Name}}), a: {{$.Arena}} }
  {{else if IsReference   $ty}} {{Template "Go.Type" $.Type}}{ c: {{$.Name}} }
  {{else if IsMap         $ty}} {{Template "Go.Type" $.Type}}{ c: {{$.Name}} }
  {{else if IsString      $ty}} C.GoStringN((*C.char)(unsafe.Pointer(&{{$.Name}}.data[0])), (C.int)({{$.Name}}.length))
  {{else                     }} {{Template "Go.Type" $.Type}}({{$.Name}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to convert a variable from Go to C.
-------------------------------------------------------------------------------
*/}}
{{define "GoToC"}}
  {{AssertType $.Type "Type"}}

  {{$ty := $.Type | Underlying}}

  {{     if IsClass       $ty}} *{{$.Name}}.c
  {{else if IsSlice       $ty}} *{{$.Name}}.c
  {{else if IsStaticArray $ty}} *{{$.Name}}.c
  {{else if IsReference   $ty}} {{$.Name}}.c
  {{else if IsMap         $ty}} {{$.Name}}.c
  {{else if IsString      $ty}} stringToC({{$.Arena}}, {{$.Name}})
  {{else                     }} ({{Template "CgoTypeNoPtr" $.Type}})({{$.Name}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to release the temporary object allocated by GoToC
  at the end of the current function.
  If the type is not one that GoToC allocates a temporary for, then nothing is
  emitted.
-------------------------------------------------------------------------------
*/}}
{{define "DeferReleaseGoToC"}}
  {{AssertType $.Type "Type"}}

  {{$ty := $.Type | Underlying}}
  {{$mangled := Macro "C.Mangle" $ty}}

  {{if IsString $ty}}defer C.gapil_string_release({{$.Object}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to release the reference-counted object.
  If the object is not reference-counted then nothing is emitted.
-------------------------------------------------------------------------------
*/}}
{{define "Release"}}
  {{AssertType $.Type "Type"}}

  {{$ty := $.Type | Underlying}}
  {{$mangled := Macro "C.Mangle" $ty}}

  {{     if IsString    $ty}}C.gapil_string_release({{$.Object}})
  {{else if IsSlice     $ty}}C.gapil_slice_release({{$.Object}})
  {{else if IsReference $ty}}C.{{$mangled}}__release(unsafe.Pointer({{$.Object}}))
  {{else if IsMap       $ty}}C.{{$mangled}}__release(unsafe.Pointer({{$.Object}}))
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Cgo type name (without pointer for ref-types)
-------------------------------------------------------------------------------
*/}}
{{define "CgoTypeNoPtr"}}
  C.{{Macro "C.Type" $ | TrimSuffix "*"}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Cgo type (with pointer for ref-types)
-------------------------------------------------------------------------------
*/}}
{{define "CgoType"}}
  {{$c := Macro "C.Type" $}}
  {{if (HasSuffix $c "*")}}*{{end}}C.{{$c | TrimSuffix "*"}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Cgo simplified type (see C.SimplifiedType)
-------------------------------------------------------------------------------
*/}}
{{define "CgoSimplifiedType"}}
  {{$c := Macro "C.SimplifiedType" $}}
  {{if (HasSuffix $c "*")}}*{{end}}C.{{$c | TrimSuffix "*"}}
{{end}}
