---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "tabs.scss";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$base-text-color:  #111 !default;

$side-bar-width: 13rem;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$small-font-size:  $base-font-size * 0.875 !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

body {
  margin: 0px;
  background-color: $background-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-text-color;
}

.site-header {
  font-size: 2rem;
  font-weight: 300;
  border-bottom: solid 1px rgba(0,0,0,0.3);
  margin-bottom: 2rem;
}

.site-footer {
  text-align: right;
  font-size: 0.6rem;
  padding: 5px;
  border-top: solid 1px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.6);
}

.site-footer a {
  color: rgba(0,0,0,0.6);
  text-decoration: none;
}

.site-footer a:hover,
.site-footer a:focus {
  color: rgba(0,0,0,0.8);
}

.site-footer .sep { padding: 0 5px 0 5px; }
.site-footer .material-icons { font-size: 0.6rem; }

h2 {
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.sidebar {
  font-size: .9rem; /* 15px */
  position: fixed;
  height: 100%;
  width: $side-bar-width;
  overflow-y: auto;
  color: rgba(255,255,255,.8);
  background-color: #202020;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
  z-index: 1;
}

.sidebar-title,
.sidebar-item {
  display: block;
  padding: 5px;
  padding-left: 15px;
  color: rgba(255,255,255,.7);
  text-decoration: none;
}

.sidebar-sep {
  border-bottom: solid 1px rgba(100,100,100,.5);
}

.sidebar-title {
  font-weight: 500;
  color: rgba(255,255,255,.4);
}

.sidebar-item.child {
  padding-left: 35px;
}

.sidebar-item.active,
.sidebar-item:hover,
.sidebar-item:focus {
  color: rgba(200,230,255,.9);
  background-color: rgba(255,255,255,.1);
}

.page-content {
  margin-left: $side-bar-width;
  padding: 5px 5px 5px 1rem;
  max-width: 70%;
}

table th {
    font-weight: 600
}

table th,table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
    text-align: center;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

// Callouts (1), (2) etc.
.callouts li {
  list-style-type: none;
  counter-increment: item;
}

.callouts li:before {
  background: url(../images/callout.png) 1px 2px no-repeat;
  background-size: 20px;
  color: #fff;
  content: counter(item);
  margin-left: -30px;
  padding-left: 6.5px;
  position: absolute;
  width: 16px;
}

// Code blocks
code {
  background: rgba(0,0,0,0.1);
  padding: 3px;
  border-radius: 3px;
}

// Info, Warning blocks
@mixin material-icon {
  vertical-align: top;
  padding-right: 5px;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.info {
  background: rgba(100,250,150,0.3);
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

.info::before {
  content: "info_outline";
  @include material-icon;
}

.issue {
  background: rgba(250,150,0,0.3);
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

.issue::before {
  content: "error_outline";
  @include material-icon;
}

.toolbar-btn {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin: 2px;
  background-color: rgba(100,100,100,.1);
  border: solid 1px rgba(0,0,0,0.1);
  border-radius: 2px;
}
