@charset "utf-8";

.sidebar {
    flex: 0 0 15em;
    font-size: .9rem;
    overflow-y: auto;
    color: #4a4a4a;
    background-color: #f7f9fa;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
    z-index: 1;
    min-height: 100%;
}

// Site header styling
.sidebar-title {
    font-weight: 500;
    text-align: center;
    color: #202020;
    padding: 6px 12px;
    background-color: #fdfdfd;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.45);
    z-index: 99;
    font-size: 18px;
    vertical-align: top;
    position: fixed;
    width: 100%;
}

.sidebar-title a{
    width: fit-content;
    display: block;
}

.sidebar-title img {
  float: left;
  display: block;
  height: 36px;
  width: auto;
}
.site-name {
  float: left;
  line-height: 36px;
  color: #5f6368;
  margin-left: 6px;
  font-size: 18px;
  font-weight:300;
}

// Sidebar nav
.sidebar-item.child {
    padding-left: 35px;
}

.sidebar ul {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
}

.sidebar ul.level0 {
    padding-left: 2px;
    margin-top: 0px;
}

.sidebar li {
    list-style: none;
    padding-top: 0px;
}

.sidebar-item.active,
.sidebar-item:hover,
.sidebar-item:focus {
    color: #0068da;
    background-color: rgba(255, 255, 255, 0.1);
}

a.sidebar-item:hover {
  text-decoration:none;
}

.sidebar-title,
.sidebar-item-heading,
.sidebar-item {
    display: block;
    padding: 5px;
    padding-left: 12px;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 14px;
}

.sidebar-item-heading {
    font-weight: 500;
}

.sidebar-sep {
    border-bottom: solid 1px #e5e5e5;
}
