@charset "utf-8";

div.tabbar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tabbar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
}

div.tabbar button:hover {
    background-color: #ddd;
}

div.tabbar button.active {
    background-color: #ffffff;
    border-bottom: solid 4px #00a6ff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent.active {
    display: block !important;
}