# Adjusting defaults to favour developer workflows
build --verbose_failures 
test --test_output=errors
query --nohost_deps --noimplicit_deps

# Adding in c11 compiling, this really should be done in the android toolchains
build --cxxopt="-std=c++11"

# Options to work around bazel limitations
build --proto_compiler=@com_google_protobuf//:protoc
build --proto_toolchain_for_cc=@com_google_protobuf//:cc_toolchain
build --proto_toolchain_for_java=//tools/build:java_toolchain

# Exclude directories that may be left around from cmake build
build --deleted_packages=//third_party/protobuf,//third_party/protobuf/util/python

# Android special build configurations
build:arm --fat_apk_cpu armeabi-v7a
build:x86 --fat_apk_cpu x86
build:aarch64 --fat_apk_cpu aarch64
