# Adjusting defaults to favour developer workflows
build --verbose_failures
test --test_output=errors
query --nohost_deps --noimplicit_deps

# Adding in c11 compiling, this really should be done in the android toolchains
build --cxxopt="-std=c++11"

# Options to work around bazel limitations
# build --proto_compiler=@com_google_protobuf//:protoc
# build --proto_toolchain_for_cc=@com_google_protobuf//:cc_toolchain

# Exclude directories that may be left around from cmake build
build --deleted_packages=//third_party/protobuf,//third_party/protobuf/util/python

# Android special build configurations
build --fat_apk_cpu armeabi-v7a,arm64-v8a,x86

# Default version defines
build --define GAPID_BUILD_NUMBER=0 --define GAPID_BUILD_SHA=developer

# Without this, bazel wraps each cc_library with "--whole-archive" flags for the
# linker when building the dynamic library, which leads to over-bloated libs.
build --nolegacy_whole_archive

# Windows mingw build config
build:mingw --crosstool_top=//tools/build/mingw_toolchain:toolchain --cpu x64_windows --host_cpu x64_windows --compiler mingw
