# Adjusting defaults to favour developer workflows
build --verbose_failures
test --test_output=errors
query --nohost_deps --noimplicit_deps
run --direct_run

# To workaround Windowds MAX_PATH when compiling gRPC++
# TODO: Figure out a more reliable solution, like the mingw wrapper
build --experimental_shortened_obj_file_path=true

# Adding in c11 compiling, this really should be done in the android toolchains
build --cxxopt="-std=c++11"

# Android special build configurations
build --fat_apk_cpu armeabi-v7a,arm64-v8a,x86

# Default version defines
build --define GAPID_BUILD_NUMBER=0 --define GAPID_BUILD_SHA=developer

# Without this, bazel wraps each cc_library with "--whole-archive" flags for the
# linker when building the dynamic library, which leads to over-bloated libs.
build --nolegacy_whole_archive

# Config used by the build servers to dump symbols.
build:symbols --copt="-g"

# Config that will exclude Android from the //:pkg target.
build:nodroid --define NO_ANDROID=1

# Tests requiring a GPU fail in the sandbox.
test --strategy TestRunner=standalone --test_env DISPLAY
