<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="sidebar-title">
      <a href="{{ item.url | absolute_url }}/about/"><img src="https://raw.githubusercontent.com/google/gapid/master/gapic/res/icons/logo_128.png"
          width="64" height="64" alt="GAPID logo"/>
            <div class="site-name">{{site.title}}</div>
            <div class="clear"></div></a>
    </div>
    <div class="page">
      {% include sidebar.html %}

      <main class="page-content" aria-label="Content">
        {% include header.html %}
        <div class="page-margin">
          {{ content }}
        </div>
        {% include footer.html %}
      </main>
    </div>
  </body>

</html>
