# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Nightly build configuration.
build_file: "agi/kokoro/linux/build-nightly.sh"

gfile_resources: "/x20/teams/android-graphics-tools/agi/kokoro/swarming_nightly"
gfile_resources: "/x20/teams/android-graphics-tools/agi/kokoro/nightly_results/prod/agi/linux/nightly/latest/"

# Nightly Swarming tests take hours to complete.
timeout_mins: 600

# Output Swarming results as artifacts
action {
  define_artifacts {
    regex: "swarming/*.json"
    strip_prefix: "swarming/"
  }
}
